:host{
  display: block;
  touch-action: pan-x pan-y; /* Allows panning but not zoom */
}

.video-container {
  border:  1px solid ;
  position: relative;
}

video {
  display: block;
  height: auto;
  width: 100%;
}

.video-controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.capture-frame {
  aspect-ratio: 2/1;
  position: absolute;
  /* Center horizontally */
  left: 25%; /* Half of 50% because we're positioning from the left */
  right: 25%; /* Ensures full width coverage */
  /* Center vertically */
  top: 25%; /* Half of 50% because we're positioning from the top */
  bottom: 25%; /* Ensures full height coverage */
  width: 50%;
  border: 1px solid;
}

ion-range{
  --height: 100%;
  bottom: 32px;
  margin-left: 30%;
  margin-right: 30%;
  position: absolute;
  width: 40%;
}
